.container {
    background-color: aliceblue;
    padding: 0.2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-bottom: 2px solid rgb(43, 40, 40, 0.6);
}

.form {
    margin-top: 1rem;
    width: 50%;
    background-color: rgb(53, 53, 53, 0.1);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

header p {
    font-family: var(--second-font) ;
    color:  rgb(0, 0, 0);
    margin: 0;
}

.title-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 0.6rem;
}

.title-block input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
}


.title-block p {
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.text-area-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem ;
}

.text-area-section textarea {
    width: 100%;
    height: 300px;
    padding: 0.5rem;
    font-size: 1rem;
}

.image-selector {
    display: flex;
    gap: 1.7rem;
    margin-bottom: 0.5rem;
}

.image-selector > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 0.8rem;
    background: none;
}

.image-selector img {
    width: 40px;
}

.button {
    padding: 0.8rem;
    font-size: 0.9vw;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background: none;
    margin-left: auto;
}

.button:hover {
    background: rgba(116, 180, 116, 0.2);
}

.form input,
textarea {
    border: none;
    border-radius: 10px;
}

.buttons-container {
    margin-left: auto;
    display: flex;
    gap: 0.25rem;
}