header {
    color: white;
}

.header-bottom {
    font-size: 1.8rem;
    margin-top: 0.5rem;
}

.thread-container {
    display: flex;
    background-color: var(--grey);
    flex-direction: column;
    border-radius: 10px;
    margin-top: 1rem;

}

.thread-container-top {
    background-color: rgb(193, 214, 233);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
}

.thread-container-top button {
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.thread-block {
    padding: 0.5rem;
    display: flex;
    border-bottom: 1px solid rgb(117, 116, 116, 0.5);
}

.thread-block:last-child {
    border-bottom: none;
}

.button-container a {
    margin-left: auto;
}

.main-container {
    width: 100%;
}

.create-thread-button {
    font-size: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.create-thread-button img {
    width: 22px;
}