.nav {
    width: 100%;
    padding: 2rem;
    padding-left: 18rem;
    padding-right: 18rem;
    display: flex;
    flex-direction: column;
    color: white;

}

header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header-bottom {
    background-color: rgb(184, 178, 178, 0.8);

    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    align-items: center;
}
.header-bottom button {
    background: rgb(255, 255, 255);
    padding: 0.8rem;
    border: none;
    color:  black;
    font-weight: 200;
    font-size: 1.2rem;
    background: var(--grey);
    color: var(--main-blue); 
    border-radius: 10px;
}

.header-bottom ul {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
    padding: 0;
    font-size: 1.2rem;
    margin: 0;
}

.user-info img  {
    width: 100%;
    border-radius: 20%;
    flex: 1;
    border: 5px solid white;
}

.user-info {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    font-size: 1.7rem;
    font-weight: 900;
    align-items: center;
}

.img-container {
    width: 22%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    object-fit: cover;
    align-items: center;
}

.header-bottom ul li,
.header-bottom ul a {
    border-right: 3px solid #fafafa;
    padding-right: 0.3rem;
    font-size: 1.4rem;
    color: #fafafa;
    font-weight: 900;
}


.header-bottom ul li:last-child{
    border: none;
}

.header-bottom ul li:hover span {
    border-bottom: 2px solid rgb(68, 87, 172);
    color: rgb(67, 78, 129);
    cursor: pointer;
}

.coffee-img {
    width: 50px;
    filter: brightness(0) invert(1);

}
.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top h1 {
margin-bottom: 0;
font-size: 2rem;
}