body * {
  box-sizing: border-box;
  font-family: var(--main-font);

}

:root {
  --main-blue: hsla(210, 100%, 10%, 0.87);
  --main-font: 'Roboto', sans-serif;
  --grey: #ebeced;
  

}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: hsla(210, 100%, 10%, 0.87);
}

.main {
  padding-left: 20rem;
  padding-right: 20rem;   
}